<!--
    HTML for displaying the card for a specific course. Utilized for
    registered courses, waitlisted courses, and the registration cart.
    Implemented via the course-accordion directive (see course-card-directive.js)
-->
<accordion close-others="oneAtATime" ng-if="!course.dropped && !course.dropProcessing">
    <accordion-group is-open="course.isopen">
        <accordion-heading>
            <div class="kscr-Course-legendIndicator"></div>
            <div class="kscr-Card-accordion-heading" ng-class="{'kscr-Card-course': type === courseTypes.cart, 'kscr-Card-accordion-heading-fadeIn': course.addingNewCartItem}">
                <!-- Expand/Collapse Icon -->
                <span class="kscr-Card-icon"><i class="glyphicon" ng-class="{'glyphicon-chevron-down': course.isopen, 'glyphicon-chevron-right': !course.isopen}"></i></span>

                <!--credits-->
                <div id="{{config.prefix2}}course_info_{{course.courseCode}}_{{course.regGroupCode}}" ng-hide="course.editing"
                     class="kscr-Card-supportText kscr-Card-credits" ng-class="{ 'kscr-Card-credits--edited': course.editCredits }">
                    <ng-pluralize count="course.credits" when="{'1': '{} cr', 'other': '{} cr'}"></ng-pluralize>
                </div>

                <!--Course Header Section-->
                <div class="kscr-Card-heading">
                    <div class="util-Grid">
                        <span class="kscr-Card-title" id="{{config.prefix2}}course_code_{{course.courseCode}}_{{course.regGroupCode}}">
                            <strong>{{course.courseCode | courseSpace}} ({{course.regGroupCode}})</strong>
                            <span ng-if="course.conflicts" class="kscr-Card-conflict-icon"></span>
                            <i ng-show="type === courseTypes.waitlisted" class="glyphicon glyphicon-time kscr-Waitlisted-clockIcon"></i>
                        </span>
                        <span class="kscr-Card-badge-wrap" ng-show="showBadge(course)">
                            <span id="{{config.prefix2}}grading_badge_{{course.courseCode}}_{{course.regGroupCode}}" title="{{gradingOption(course)}}"
                                  class="kscr-Card-badge ng-animate" ng-class="{ 'kscr-Card-badge--edited': course.editGradingOption }">{{gradingOption(course)}}</span>
                        </span>
                    </div>

                    <!--Course Title and description-->
                    <div class="kscr-Card-text" id="title_{{course.courseCode}}_{{course.regGroupCode}}" ng-show="course.isopen">{{course.longName}}</div>

                    <!--AO info: type, time, location (schedule -- closed) -->
                    <div ng-repeat="ao in course.activityOfferings" class="kscr-Card-detailsText--show" ng-show="!course.isopen">
                        <span class="kscr-Card-courseTimes">
                            <div id="{{config.prefix2}}ao_type_{{course.courseCode}}_{{course.regGroupCode}}_{{$index}}" class="kscr-Card-ao-type">{{ao.activityOfferingTypeName | limitTo : 3}}</div>
                            <div ng-repeat="scheduleComponent in ao.scheduleComponents" id="{{config.prefix2}}schedule_{{course.courseCode}}_{{course.regGroupCode}}_{{$parent.$index}}_{{$index}}" class="kscr-Card-scheduleComponent">
                                <span ng-class="{'kscr-Card-courseTimes-highlighted' : course.conflicts}" ng-hide="scheduleComponent.isTBA" class="util-Grid--floatLeft">{{scheduleComponent.days}} {{scheduleComponent.displayTime}}</span>
                                <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatRight">{{scheduleComponent.buildingCode}} {{scheduleComponent.roomCode}}</span>
                                <span ng-show="scheduleComponent.isTBA" class="util-Grid--floatRight">TBA</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </accordion-heading>

        <div class="kscr-Waitlisted-details" ng-if="type === courseTypes.waitlisted">
            <i class="glyphicon glyphicon-time kscr-Waitlisted-clockIcon"></i> Waitlisted for this course
        </div>

        <!-- Course details: AO type, start-end dates, etc. (expanded) -->
        <div ng-hide="course.editing">
            <!--course time, day, building (schedule)-->
            <div ng-repeat="ao in course.activityOfferings" class="kscr-Card-detailsText--edit">
                <div>
                    <span id="{{config.prefix2}}ao_type_long_{{course.courseCode}}_{{course.regGroupCode}}_{{$index}}">{{ao.activityOfferingTypeName}}</span>
                    <span class="kscr-Card-ao-instructor">
                        <div ng-repeat="instructor in ao.instructors">{{instructor.firstName}} {{instructor.lastName}}</div>
                    </span>
                </div>
                <div ng-repeat="scheduleComponent in ao.scheduleComponents" id="{{config.prefix2}}schedule_long_{{course.courseCode}}_{{course.regGroupCode}}_{{$parent.$index}}_{{$index}}" class="kscr-Card-ao-schedule">
                    <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatLeft" ng-class="{'kscr-Card-courseTimes-highlighted' : course.conflicts}" >{{scheduleComponent.days}} {{scheduleComponent.displayTime}}</span>
                    <span ng-hide="scheduleComponent.isTBA" class="util-Grid--floatRight">{{scheduleComponent.buildingCode}} {{scheduleComponent.roomCode}}</span>
                    <span ng-show="scheduleComponent.isTBA">TBA</span>
                </div>
                <div class="util-Grid--clearfix"></div>
            </div>

            <div class="kscr-Card-conflicts" ng-if="course.conflicts">
                <span>Time Conflict (<span class="kscr-Card-conflicts-list">{{parseConflicts(course.conflicts)}}</span>)</span>
            </div>

            <!--Course Edit/Remove Buttons-->
            <div class="kscr-Card-buttons">
                <span>
                    <div class="util-Grid--floatLeft"><button class="kscr-Button" id="{{config.prefix2}}details_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="viewDetails(course)">Details</button></div>
                    <button class="kscr-Button" id="{{config.prefix2}}edit_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="editItem(course)" ng-show="course.creditOptions.length > 1 || course.gradingOptionCount > 1">Edit</button>
                    <div class="global-Base-divider"></div>
                    <button class="kscr-Button" id="{{config.prefix2}}remove_{{course.courseCode}}_{{course.regGroupCode}}" ng-click="dropCourse(course)">{{config.remove}}</button>
                </span>
            </div>
        </div>

        <!-- Item Change Section: Credits, Grading, and Save -->
        <course-options course="course" prefix="{{config.prefix3}}" on-submit="updateItem(course)" ng-show="course.editing"></course-options>
    </accordion-group>
</accordion>