<!--
    Card HTML for "My Schedule" (both registered and waitlisted courses)
    Implemented via the course-card-directive.js directive
-->
<div class="kscr-Heading-sub kscr-Heading-scheduleHeading" ng-class="{'kscr-Heading-scheduleHeading--empty' : credits === 0}">
    <span ng-show="credits > 0 || type === courseTypes.waitlisted">
        <span>{{config.heading}}</span>
        <span id="{{config.prefix}}_credit_count" class="kscr-Heading-support">
            <ng-pluralize count="credits" when="{'1' : '{} CREDIT', 'other': '{} CREDITS'}"></ng-pluralize>
         </span>
        <span class="util-Grid--clearfix"></span>
    </span>

    <span class="kscr-Heading-message" ng-show="type === courseTypes.registered && credits === 0">You are not registered for any courses.</span>
</div>
<div class="kscr-Card">
    <div ng-switch on="type">
        <!--Drop from Registered section-->
        <div ng-switch-when="registered">
            <div ng-repeat="course in registeredCourseOfferings" class="kscr-Course-container kscr-Course-course{{courseIndex(course)}}" ng-class="{'kscr-Course-container--processing' : course.requestProcessing}">
                <div id="course_status_message_{{course.courseCode}}_{{course.regGroupCode}}"
                     class="kscr-Card-status kscr-Card-status--{{course.statusMessage.type}} util-Alert--{{course.statusMessage.type}}"
                     ng-class="(course.dropped || course.dropProcessing) ? 'util-Alert--card--dropped' : 'util-Alert--card'"
                     ng-if="course.statusMessage">
                    <span class="kscr-Card-statusRemove"><a href="" ng-click="(!course.dropProcessing ? removeStatusMessage(course) : '')"></a></span>

                    <div ng-if="course.statusMessage.type === statuses.error">
                        <div class="kscr-Card-status-heading"
                             id="course_status_message_heading_{{course.courseCode}}_{{course.regGroupCode}}">
                            <span ng-if="course.statusMessage.action === 'drop'">Drop Failed</span>
                            <span ng-if="course.statusMessage.action === 'update'">Changes Failed</span>
                        </div>

                        <div class="kscr-Card-reason">
                            <div class="kscr-Card-reason-label"><strong>Reason:</strong></div>
                            <div class="kscr-Card-reason-messages">
                                <div class="kscr-Card-reason-message" ng-repeat="message in course.statusMessage.messages">
                                    <span id="course_status_message_message_{{course.courseCode}}_{{course.regGroupCode}}_{{$index}}"
                                          validation-message message="message" course="course"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="course.statusMessage.type !== statuses.error">
                        <div ng-repeat="message in course.statusMessage.messages"
                             id="course_status_message_message_{{course.courseCode}}_{{course.regGroupCode}}"
                              validation-message message="message" course="course"></div>
                    </div>
                </div>
                <div class="kscr-dropCourse-container" ng-show="course.dropping">
                    <div class="kscr-dropCourse-background"></div>
                    <div class="kscr-dropCourse-content">
                        <!--  Schedule Item Drop Section -->
                        <div class="kscr-DropCourse">
                            <form ng-submit="dropCourseConfirmed(course)">
                                <div class="kscr-DropCourse-content">
                                    <div class="kscr-DropCourse-header">Drop Course <strong>{{course.courseCode | courseSpace}} ({{course.regGroupCode}})</strong>?</div>
                                    <div class="kscr-DropCourse-buttons util-Grid"><div class="util-Grid-cell"></div>
                                        <span>
                                            <button id="dropRegGroup_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button--primary" type="submit" focus-me="course.dropping">Confirm Drop</button>
                                              <div class="global-Base-divider"></div>
                                            <button id="dropRegGroupCancel" class="kscr-Button" type="button" ng-click="cancelDropConfirmation(course)">Cancel</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <course-accordion course="course" type="{{type}}" card-index="$index"></course-accordion>
            </div>
        </div>
        <!--Dropped from Waitlist section-->
        <div ng-switch-when="waitlist">
            <div ng-repeat="course in waitlistCourseOfferings" class="kscr-Course-container kscr-Course-course{{courseIndex(course)}}" ng-switch on="type" ng-class="{'kscr-Course-container--processing' : course.requestProcessing}">
                <div id="waitlist_course_status_message_{{course.courseCode}}_{{course.regGroupCode}}"
                     class="kscr-Card-status kscr-Card-status--{{course.statusMessage.type}} util-Alert--{{course.statusMessage.type}}"
                     ng-class="(course.dropped || course.dropProcessing) ? 'util-Alert--card--dropped' : 'util-Alert--card'"
                     ng-if="course.statusMessage">
                    <span class="kscr-Card-statusRemove"><a href="" ng-click="(!course.dropProcessing ? removeStatusMessage(course) : '')"></a></span>

                    <div ng-if="course.statusMessage.type === statuses.error">
                        <div class="kscr-Card-status-heading"
                             id="waitlist_course_status_message_heading_{{course.courseCode}}_{{course.regGroupCode}}">
                            <span ng-if="course.statusMessage.action === 'drop'">Drop Failed</span>
                            <span ng-if="course.statusMessage.action === 'update'">Changes Failed</span>
                        </div>

                        <div class="kscr-Card-reason">
                            <div class="kscr-Card-reason-label"><strong>Reason:</strong></div>
                            <div class="kscr-Card-reason-messages">
                                <div class="kscr-Card-reason-message" ng-repeat="message in course.statusMessage.messages">
                                    <span id="waitlist_course_status_message_message_{{course.courseCode}}_{{course.regGroupCode}}_{{$index}}"
                                          validation-message message="message" course="course"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="course.statusMessage.type !== statuses.error">
                        <div ng-repeat="message in course.statusMessage.messages"
                             id="waitlist_course_status_message_message_{{course.courseCode}}_{{course.regGroupCode}}"
                             validation-message message="message" course="course"></div>
                    </div>
                </div>
                <div class="kscr-dropCourse-container" ng-show="course.dropping">
                    <div class="kscr-dropCourse-background"></div>
                    <div class="kscr-dropCourse-content">
                        <!--  Remove from Waitlist Section -->
                        <div class="kscr-DropCourse">
                            <form ng-submit="dropCourseConfirmed(course)">
                                <div class="kscr-DropCourse-content">
                                    <div class="kscr-DropCourse-header">Remove from Waitlist for <strong>{{course.courseCode | courseSpace}} ({{course.regGroupCode}})</strong>?</div>
                                    <div class="kscr-DropCourse-buttons util-Grid"><div class="util-Grid-cell"></div>
                                        <span>
                                            <button id="removeWaitlist_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button--primary" type="submit" focus-me="course.dropping">Confirm Remove</button>
                                            <div class="global-Base-divider"></div>
                                            <button id="removeWaitlistCancel_{{course.courseCode}}_{{course.regGroupCode}}" class="kscr-Button" type="button" ng-click="cancelDropConfirmation(course)">Cancel</button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <course-accordion course="course" type="{{type}}" card-index="$index"></course-accordion>
            </div>
        </div>
    </div>
</div>