<div class="kscr-Header-container">
    <!-- NG class adds a wide version of the header if we are looking at the responsive states -->
    <div class="kscr-Header kscr-Main-header">
        <div class=" util-Grid util-Grid--center">
            <a id="ks-HomePage" href="../kr-krad/launch?methodToCall=start&viewId=ksFunctionalHomeView">
                <div class="kscr-Header-logo"></div>
            </a>
            <div class="kscr-Header-title">COURSE REGISTRATION</div>
            <div class="kscr-Header-separator"></div>
            <div class="util-Grid-cell">
                <div class="kscr-Header-termName">
                    <span class="kscr-Header-termName-icon" ng-show="term && !studentIsEligibleForTerm"><i class="glyphicon glyphicon-lock"></i></span>
                    <span id="header_term_name" class="kscr-Header-termName-label">{{term.termName}}</span>
                    <div class="kscr-Header-termName-selector">
                        <span class="kscr-Header-termName-selector-label" id="header_termName" for="searchTermDesktop">{{term.termName}}</span>
                        <div class="kscr-Header-termName-selectWrap">
                            <select id="searchTermDesktop" ng-model="term" ng-options="t as t.termName for t in terms"></select>
                        </div>
                    </div>
                </div>
                <span class="kscr-Header-credits" id="header_credits" ng-show="registeredCredits() > 0">
                    <ng-pluralize count="registeredCredits()"
                                  when="{'0' : ' ',
                                        '1' : '{} credit',
                                        'other': '{} credits'}">
                    </ng-pluralize>
                </span>
            </div>

            <div id="reg_user_menu" class="kscr-Header-menu" ng-class="{'kscr-Header-menu--clicked' : showUserMenu}" ng-click="showUserMenu = !showUserMenu">
                <div>
                    <i class="glyphicon glyphicon-user"></i>
                    <span id="header_user" class="kscr-Header-user">{{userId()}}</span>
                    <div class="kscr-Header-userMenu" ng-show="showUserMenu">
                        <ul>
                            <li id="reg_user_menu_logout" ng-click="logout()">Logout</li>
                        </ul>
                    </div>
                </div>
            </div>
            <nav class="Navigation kscr-Navigation-container">
                <span>
                    <button id="reg_menu_button" type="button" class="kscr-Menu-button-menu" ng-class="{'kscr-Menu-button-menu--clicked' : dropMenu}" ng-click="dropMenu = !dropMenu" mask-screen="dropMenu">MENU</button>
                    <!--<button ng-if="uiState=='root.cart'||uiState=='root.schedule'" id="logout_small" class="kscr-Menu-button-menu" ng-click="logout()">LOGOUT</button>-->
                </span>
            </nav>
            <div class="util-Grid--clearfix"></div>
        </div>

        <div drop-menu></div>
    </div>
</div>


<div class="kscr-Main-contentContainer" ng-disabled="dropMenu">
    <!-- Main view area -->
    <div class="kscr-Main-content" ng-show="studentIsEligibleForTerm">
        <div class="kscr-Main-maincontent">
            <!-- Main view container -->
            <div class="kscr-Main-content--left" ui-view></div>

            <!-- Sidebar Container (Shown in sidebar layout in large-format only) -->
            <div class="kscr-Main-sidebar">
                <div ui-view="learningplan" class="kscr-Main-learingPlanWrapper"
                     ng-if="featureToggles.learningPlan"></div>

                <div id="searchForm" class="kscr-Main-searchFormWrapper kscr-SearchForm">
                    <div class="kscr-SearchForm-container">
                        <!-- Search Heading -->
                        <div class="kscr-MainHeading kscr-SearchForm-heading">
                            <div class="kscr-MainHeading-header">Find Courses</div>
                        </div>

                        <!-- Search Form -->
                        <search-form></search-form>
                    </div>
                </div>

                <!-- My Cart Container -->
                <div ui-view="mycart" class="kscr-Main-cart"></div>

                <!-- Sidebar Schedule Container (Only shown on search screen) -->
                <div class="kscr-Main-scheduleWrapper ng-scope" ng-if="uiState.indexOf('root.search') !== -1" ng-controller="ScheduleCtrl">
                    <!-- Schedule Heading -->
                    <div class="kscr-MainHeading kscr-MainHeading-ScheduleHeading util-Grid util-Grid--center">
                        <div class="kscr-MainHeading-header util-Grid-cell">
                            My Schedule
                        <div>
                            <a id="view_Schedule" href=""  ui-sref="root.schedule">
                                View <span class="kscr-MainHeading-link-icon">&#x00bb;</span>
                            </a>
                        </div>
                        </div>
                        <div class="kscr-MainHeading-toggles">
                            <a class="kscr-MainHeading-toggle" ng-click="selectedTab = 'list'" ng-disabled="!showGrid()"
                               ng-class="{'kscr-MainHeading-toggle--selected' : selectedTab === 'list' || !selectedTab,
                                          'kscr-MainHeading-toggle--disabled' : !showGrid() }">
                                <span><i class="glyphicon glyphicon-list"></i>List</span>
                            </a>
                            <a class="kscr-MainHeading-toggle" ng-click="selectedTab = 'grid'" ng-disabled="!showGrid()"
                               ng-class="{'kscr-MainHeading-toggle--selected' : selectedTab === 'grid',
                                          'kscr-MainHeading-toggle--disabled' : !showGrid() }">
                                <span><i class="glyphicon glyphicon-calendar"></i>Grid</span>
                            </a>
                        </div>
                        <div class="util-Grid--clearfix"></div>
                    </div>

                    <!-- Schedule -->
                    <course-calendar size="small" ng-show="selectedTab === 'grid'" ng-if="showGrid()"></course-calendar>

                    <div class="kscr-Main-schedule" ng-show="selectedTab === 'list' || !selectedTab" ng-init="selectedTab = 'list'">
                        <!-- display registered courses via the course-card directive -->
                        <div class="kscr-Registered-container"
                             course-card type="registered" credits="registeredCredits()" schedules="getSchedule"></div>
                        <!-- display waitlisted courses via the course-card directive -->
                        <div ng-class="{'kscr-Waitlisted-container':true,'kscr-Waitlisted-container--inactive':!showWaitlist()}"
                             course-card type="waitlist" credits="waitlistedCredits()" schedules="getSchedule"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- No access message -->
    <div class="kscr-Main-noAccess-container" ng-show="!studentIsEligibleForTerm">
        <div class="util-Alert util-Alert--locked" id="reg_locked_container">
            <span class="kscr-Main-noAccess-icon"><i class="glyphicon glyphicon-lock"></i></span>
            <div id="reg_locked_message" class="kscr-Main-noAccess-messages">
                <div class="kscr-Main-noAccess-message" ng-repeat="message in term.eligibilityMessages">
                    <span validation-message message="message"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dropMenu.html">
    <ul class="kscr-Menu-container" ng-show="dropMenu">
        <!-- Header section -->
        <li class="kscr-Menu-Header">
            <div>
                <button id="logout" class="kscr-Menu-button-logout util-Grid--floatRight" ng-click="logout()">LOGOUT</button>
                <i class="glyphicon glyphicon-user"></i>
                <span id="menu_user" class="kscr-Menu-user">{{userId()}}</span>
            </div>
        </li>

        <li class="kscr-Menu-searchTerm">
            <!-- Defaults to the current term-->
            <span class="kscr-Menu-heading">Term</span>
            <select id="searchTerm" ng-model="term" ng-options="t as t.termName for t in terms"></select>
        </li>

        <!--Search Courses section-->
        <li class="kscr-Menu-links" ng-show="studentIsEligibleForTerm">
            <a id="goToSearch" ng-click="dropMenu = !dropMenu" ui-sref="root.search">
                <span>
                    <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-search"></i> Search Courses <span>&#187;</span></div>
                </span>
            </a>
        </li>

        <!--My Schedule section-->
        <li class="kscr-Menu-links" ng-show="studentIsEligibleForTerm">
            <a id="goToSchedule" ng-click="dropMenu = !dropMenu" ui-sref="root.schedule">
                <span>
                    <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-calendar"></i> My Schedule <span>&#187;</span></div>
                    <div class="kscr-Menu-subtext" ng-if="registeredCredits() > 0">
                        <ng-pluralize count="registeredCredits()"
                                      when="{'0' : ' ',
                                        '1' : '{} credit',
                                        'other': '{} credits'}">
                        </ng-pluralize>
                    </div>
                </span>
            </a>
        </li>

        <!--My Cart section-->
        <li class="kscr-Menu-links" ng-show="studentIsEligibleForTerm">
            <a id="goToCart" ng-click="dropMenu = !dropMenu" ui-sref="root.cart">
                <span>
                    <div class="kscr-Menu-links-heading"><i class="glyphicon glyphicon-shopping-cart"></i> My Cart <span>&#187;</span> </div>
                    <div class="kscr-Menu-subtext" ng-if="cartCredits() > 0">
                        <ng-pluralize count="cartCredits()"
                                      when="{'0' : ' ',
                                        '1' : '{} credit',
                                        'other': '{} credits'}">
                        </ng-pluralize>
                    </div>
                </span>
            </a>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="sessionExpired.html">
    <div class="kscr-Modal-sessionExpired">
        <span>Your session has expired. Please log in again to continue.</span>
        <div class="kscr-Card-buttons">
            <span>
                <button id="session-expired-logout" class="kscr-Button--primary" ng-click="$parent.logout()" focus-me="true">OK</button>
            </span>
        </div>
    </div>
</script>